services:
  api:
    build: ./images/api
    ports:
      - 3001:3000
    volumes:
      - ./images/api/src:/usr/app/src
    environment:
      NODE_ENV: test
    env_file:
      - ./images/config/.env.test
    depends_on:
      store:
        condition: service_healthy
    command: ["npm", "run", "test"]

  store:
    image: mysql:latest
    restart: on-failure
    ports:
      - 3307:3306
    volumes:
      - ./_test_mysql_data:/var/lib/mysql/data
    environment:
      MYSQL_HOST: store
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: portfolio-test
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
